<footer class="pt-3 mt-4 text-body-secondary centerround">
    <p class="text-center text-body-secondary">© <script>document.write(new Date().getFullYear());</script> Framely, Inc</p> 
</footer>
</html>
