<div id="navbar" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <div id="compname" class="d-flex link-body-emphasis text-decoration-none">
      <h2 class="jomolhari-headers">Framely</h2>
    </div>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a href="/" ><img id="icons" src="/images/home.png" alt="home icon"></a>
        <img id="icons" src="/images/cart.png" alt="cart icon">
        <img id="icons" src="/images/account.png" alt="account icon">
        <img id="icons" src="/images/search.png" alt="search icon">
    </nav>
  </div>